/* You can add global styles to this file, and also import other style files */
$basecolor-body:#F0F3F4;
$basecolor-header:#17202A;
$basecolor-navbar:#17202A;
$basecolor-footer: #D0D3D4;
$basecolor-borde-main:#0E6251;
$basecolor-borde-gray:#E5E7E9;
$color-text-white: #FEFEFE;
$color-text-header: #212F3C;
$color-text-main: #34495E;
$color-text-blue: #154360;
$color-text-clar: #AEB6BF;
/*Font family*/
$family-text: Candara, Calibri, Segoe, Segoe UI, Optima, Arial, sans-serif;


body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: $basecolor-body;
}

.container {
    display: grid;
    grid-template-columns: 300px 1fr 200px;
    grid-template-rows: auto 1fr auto;
    grid-gap: 0px;
    grid-template-areas: "header header header" "nav content content" "footer footer footer";
    height: 100vh;
}

app-header {
    background: $basecolor-header;
    border-bottom: $basecolor-borde-main solid 5px;
    color: $color-text-white;;
    font-family: $family-text;
    font-size: 15px;
    grid-area: header;
    text-align: center;
}

app-navbar {
    background-color:$basecolor-navbar;
    grid-area: nav;
    margin-left: 0.0rem;
}

app-privacy-policy,
app-main {
    grid-area: content;
    background-color: $basecolor-body;
    padding: 25px;
}

app-footer {
    color: $color-text-clar;
    font-size: small;
    grid-area: footer;
    background-color: $basecolor-footer;
    text-align: center;
    padding: 1px 0;
}

@media (max-width: 500px) {
    app-nav,
    app-aside {
        margin: 0;
    }
    .container {
        grid-template-columns: 1fr;
        grid-template-areas: "header" "nav" "content" "footer";
        grid-template-rows: auto minmax(60px, auto) 1fr minmax(70px, auto) auto;
    }
}